## Health Care Analysis

Here we are considering health factors such as
1. Blood Pressure 
2. Sugar Levels
3. Cholestrol
4. Haemoglobin
5. Eyesight

Here firstly we are considering only first 2 factors which are most important and critical.

In [192]:
a=int(input())

65

In [194]:
if a>=65:
    bp, sugar= map(int, input().split())
    bp_range= range(80, 121)
    sugar_range= range(140, 200)
    if bp in bp_range and sugar<140:
        print('Sunit Sharma is fit')
    elif bp<80 and sugar<140:
        print('Sunita Sharma has low Blood Pressure')
    elif bp>120 and sugar<140:
        print('Sunita Sharma has high Blood Pressure')
    elif bp in bp_range and sugar in sugar_range:
        print('Sunita Sharma has Prediabetes Sypmtoms')
    elif bp in bp_range and sugar>=200:
        print('Sunita Sharma has Diabetes and should have to take her Diabetes medicines on time')
    elif bp<80 or bp>120 and sugar<140:
        print('Sunita Sharma has Blood Pressure and should have to take her BP medicines on time')
    elif bp in bp_range or bp<80 or bp>120 and sugar in sugar_range or sugar>=200:
        print('Sunita Sharma should do her routine tests and checkups every month and take her medicines on time')
    elif bp<80 or bp>120 and sugar>200:
        print('Sunita Sharma is unfit, she should consult a doctor or if critial then she should get admitted')

110 200
Sunita Sharma has Diabetes and should have to take her Diabetes medicines on time

Now for the rest other factors

In [190]:
A=int(input())
if A>=65:
    choles_range= range(125, 240)
    C=float(input())
    if C>125 and C<=200:
        print('Sunita Sharma has ideal Cholesterol range')
    elif C>200 and C<=239:
        print('Sunita Sharma has a Cholesterol on borderline range')
    elif C>=240:
        print('Sunita Sharma has a higher cholesterol, she can be critical')

65
150
Sunita Sharma has normal Cholesterol range

In [196]:
H=float(input())
if A>=65:
    if H>=12.1 and H<15.1:
        print('Sunita Sharma has a normal haemoglobin level')
    elif H <12.1 and H>8:
        print('She has moderate haemoglobin range')
    elif H < 6:
        print('She has some disease or she is critical')

9
She has moderate haemoglobin range

In [199]:
B=float(input())
if A>=65:
    if B==25:
        print('Sunita Sharma can view from',B, 'cm from her retina')
    elif B<25:
        print('Sunita Sharma can view from',B, 'cm from her retina. She is nearsighted')
    elif B>25:
        print('Sunita Sharma can view from',B, 'cm from her retina. She is farsighted')

13.4
Sunita Sharma can view from 13.4 cm from her retina. She is nearsighted

Here we consider health conditions of Ms. Sunita Sharma from below data and carry out some useful insights

In [200]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
df= pd.read_csv('Datasets/healthcare-dataset-stroke-data.csv')

In [201]:
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [202]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [203]:
df['bmi']=df['bmi'].fillna(df['bmi'].mean())
df.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [204]:
(df['age']>=65).sum()

1027

In [205]:
df.drop('id', axis=1, inplace=True)
df.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [206]:
df['age'].value_counts()

78.00    102
57.00     95
52.00     90
54.00     87
51.00     86
        ...
1.40       3
0.48       3
0.16       3
0.08       2
0.40       2
Name: age, Length: 104, dtype: int64

In [207]:
#df.groupby(df['age']).agg(lambda df: df < 65)
df1=df.loc[lambda df: df['age'] >= 65,:]

In [208]:
#df1=df.loc[lambda df: df[df['gender']['Female']]>65,:]
#df1=df1.drop(df1['gender']=='Male')
df1 = df1[df1['gender']=='Female']

In [209]:
df1['age'].value_counts()

78.0    60
79.0    59
80.0    42
81.0    38
65.0    38
66.0    35
69.0    34
82.0    33
75.0    32
71.0    30
68.0    30
76.0    28
77.0    27
72.0    26
70.0    26
74.0    24
67.0    24
73.0    24
Name: age, dtype: int64

In [210]:
y=df1.shape
y

(610, 11)

Now consider Sunita Sharma is one of the woman from the above data i.e. there are 610 possibilites.
Here we do an analysis of her health on the basis of the following data.

In [217]:
df1= df1.drop('work_type', axis=1, inplace=True)
df1.head(5)

AttributeError: 'NoneType' object has no attribute 'drop'

In [218]:
sns.countplot(data=df1, x='stroke')

ValueError: Could not interpret input 'stroke'

In [213]:
x=df['stroke']
x

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [214]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Bar(
            x='stroke', y=610,
            text=y,
            textposition='auto',
        )])

fig.show()

ValueError:
    Invalid value of type 'builtins.str' received for the 'x' property of bar
        Received value: 'stroke'

    The 'x' property is an array that may be specified as a tuple,
    list, numpy array, or pandas Series

In [215]:
import plotly.express as px
fig = px.pie(df1, values='heart_disease', names='stroke', color_discrete_sequence=px.colors.sequential.RdBu)
fig.show()

ValueError: String or int arguments are only possible when a DataFrame or an array is provided in the `data_frame` argument. No DataFrame was provided, but argument 'names' is of type str or int.

Therefore 65 out 610 women have no stroke and but have heart disease and 16 women together have stroke and heart disease.

Therefore Sunita Sharma can be one of them.